
{% assign sorted_items = site.work_items | sort: 'order' %}
{% assign prev_item = nil %}
{% assign next_item = nil %}
{% assign found_current = false %}

{% for work_item in sorted_items %}
    {% if found_current %}
        {% assign next_item = work_item %}
        {% break %}
    {% endif %}
    
    {% if work_item.title == page.title %}
        {% assign found_current = true %}
    {% else %}
        {% assign prev_item = work_item %}
    {% endif %}
{% endfor %}

{% if prev_item %}
    <a class="inline-flex gap-1 opacity-60 hover:opacity-100 transition-opacity" href="{{ prev_item.url }}">
      <span class="-translate-y-px">&larr;</span>
      <span class="">Prev<span class="hidden md:inline">: {{ prev_item.title }}</span></span>
    </a>
{% endif %}
{% if next_item %}
    <a class="inline-flex gap-1 ml-auto opacity-60 hover:opacity-100 transition-opacity" href="{{ next_item.url }}">
      <span class="">Next<span class="hidden md:inline">: {{ next_item.title }}</span></span>
      <span class="-translate-y-px">&rarr;</span>
    </a>
{% endif %}
