
{% for work_item in site.work_items %}
    {% if work_item.title == page.title %}
        {% assign item_index = forloop.index %}
    {% endif %}
{% endfor %}

{% assign prev_index = item_index | plus: 1 %}
{% assign next_index = item_index | minus: 1 %}

{% for work_item in site.work_items %}
    {% if forloop.index == prev_index %}
        {% assign prev = work_item %}
    {% endif %}
    {% if forloop.index == next_index %}
        {% assign next = work_item %}
    {% endif %}
{% endfor %}


{% if next %}
    <a class="inline-flex gap-1 opacity-60 hover:opacity-100 transition-opacity" href="{{ next.url }}">
      <span class="-translate-y-px">&larr;</span>
      <span class="">Prev<span class="hidden md:inline">: {{ next.title }}</span></span>
    </a>
{% endif %}
{% if prev %}
    <a class="inline-flex gap-1 ml-auto opacity-60 hover:opacity-100 transition-opacity" href="{{ prev.url }}">
      <span class="">Next<span class="hidden md:inline">: {{ prev.title }}</span></span>
      <span class="-translate-y-px">&rarr;</span>
    </a>
{% endif %}
