<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="description" content="{{ page.description }}" />
    <link rel="author" href="/humans.txt" />
    <title>{{ site.title }} / {{ page.title }}</title>

    <link rel="stylesheet" href="/fonts/fonts.css" />
    <link rel="stylesheet" href="/styles/main.css" />
    
    <link rel="icon" href="/images/favicon.ico">
    <link rel="icon" href="/images/icon.svg" type="image/svg+xml">
    <link rel="apple-touch-icon" href="/images/apple-touch-icon.png">
    <link rel="manifest" href="/site.webmanifest">

</head>
<body class="font-robotoMono text-xs px-6 py-12 flex flex-col gap-6">
    <header class="grid grid-cols-4">
        <div class="col-span-2 gap-2 col-start-2 flex flex-col items-center">
            {% include vectors/jt.svg class="h-16 w-16" %}
            <span class="font-bold uppercase">Jesse Trippe</span>
        </div>
        <p>
            Jesse Trippe<br>
            3019 62nd Ave SW, Unit D<br>
            Seattle, WA 98116<br>
            734-649-6602<br>
            jesset@me.com
        </p>
    </header>
	    
    {{ content }}
    
    <div>
        <h2 class="font-bold uppercase mb-2">Payment Terms</h2>
        <p class="max-w-4xl">Please remit payment within 60 days to the address above. If you have any questions please contact me. Thanks a ton, I really appreciate your present and future business.</p>
    </div>
    <div>
        <h2 class="font-bold uppercase mb-2">Payment Information</h2>
        <p>
            Paypal: paypal.me/jessetrippe<br>
            Venmo: @JesseTrippe<br>
            Square Cash: $jessetrippe
        </p>
    </div>
    <script>
        const tbody = document.getElementById("invoice-tbody");
        let totalAmount = 0;
    
        Array.from(tbody.rows).forEach((row) => {
           let quantity = parseFloat(row.cells[1].innerHTML);
           let price = 75; // hourly rate
           let total = quantity * price;
           totalAmount = parseFloat(total + totalAmount);
           row.cells[3].innerHTML = "$" + total.toFixed(2);
           row.cells[2].innerHTML = "$" + price.toFixed(2);
        });
    
        const tfoot = document.getElementById("invoice-tfoot");
    
        tfoot.rows[0].cells[2].innerHTML = "$" + totalAmount.toFixed(2);
        tfoot.rows[2].cells[2].innerHTML = "$" + totalAmount.toFixed(2);
    
    </script>
</body>
</html>
