<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="description" content="{{ page.description }}" />
    <link rel="author" href="/humans.txt" />
    <title>{{ site.title }} / {{ page.title }}</title>

    <link rel="stylesheet" href="/fonts/fonts.css" />
    <link rel="stylesheet" href="/styles/main.css" />

</head>
<body class="font-robotoMono text-xs px-6 py-12">
	{{ content }}
</body>
</html>
